{% extends 'main.html' %}

{% block content %}
<!-- Check if user is authenticated -->
{% if request.user.is_authenticated is True %}
<h2>Your tasks:</h2>

<!-- Check if 'tasks' is not empty -->
{% if tasks|length > 0 %}

<!-- If tasks isn't empty, output all tasks -->
<ul class="list-group">
{% for task in tasks %}
    <li class="list-group-item">
        <!-- Check if task is done or not -->
        {% if task.status is False %}
        <!-- Output if task is uncompleted -->
        {{ task.task_name }}
        {% else %}
        <!-- Output if task is completed -->
        <span style="text-decoration: line-through">{{ task.task_name }}</span>
        {% endif %}
        <a href="{% url 'update_task' task.id %}"><button>Update</button></a>
        <a href="{% url 'delete_task' task.id %}"><button>Delete</button></a>
    </li>
{% endfor %}
</ul>
<!-- If 'tasks' is empty -->
{% else %}
<p>You have no tasks!</p>
{% endif %}

<!-- Add new task button -->
<p><a href="{% url 'add_task' %}"><button>Add task</button></a></p>


<!-- If user isn't authenticated -->
{% else %}
<h1 class="position-absolute top-50 start-50 translate-middle">Welcome to TOKENDO!</h1>
{% endif %}

{% endblock content %}