{% extends 'main.html' %}

{% load static %}

{% block content %}
<div class="card mb-3 mt-5 mx-auto" style="max-width: 80%">
    <div class="row g-0">
        <div class="col-md-5">
            <img src="{% static profile.profile_image.url %}" class="img-fluid rounded-start" alt="Profile image" style="width: 100%; height: 100%">
        </div>
        <div class="col-md-7 d-flex">
            <div class="card-body text-center">
                <h5 class="card-title fs-1">Username: {{ profile.username }}</h5>
                <p class="card-text fs-2">Name: {% if profile.name|length == 0 %}---{% else %}{{ profile.name }}{% endif %}</p>
                <p class="card-text fs-2">Email: {% if profile.email|length == 0 %}---{% else %}{{ profile.email }}{% endif %}</p>
                <a href="{% url 'edit_profile' %}"><button type="button" class="btn btn-secondary fs-4">Edit</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}