{% extends 'main.html' %}

{% block content %}

<form action="{% url 'create_subtask' task_id %}" method="POST" class="w-50 p-3 mt-5 mx-auto">
    {% csrf_token %}
    <div class="mb-3">
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
        {% endfor %}
    </div>
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <button type="submit" class="btn btn-primary">Create</button>
    <button type="button" class="btn btn-secondary" onclick="Previous()">Cancel</button>
</form>

{% endblock content%}