{% extends 'main.html' %}

{% block content %}

<form action="{% if project_id %}{% url 'update_task' task.id project_id %}{% else %}{% url 'update_task' task.id %}{% endif %}" method="POST" class="w-50 p-3 mt-5 mx-auto">
    {% csrf_token %}
    <div class="mb-3">
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" onclick="Previous()">Cancel</button>
</form>

{% endblock content%}